body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #5680E9, #8860d0, #5AB9EA, #8860d0, #8860d0);
    background-size: 300% 300%;
    animation: colors 10s ease-in infinite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/*----- css body -----*/


.firstContainer {
    display: flex;
    width: 100%;
    height: 95%;
    align-items: center;
    flex-direction: column;

}

.firstContainer .backButton {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.containerInfos {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: groove;
}


#findUs {}

.infos {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.infos .info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112%;
    padding-left: 100px;
}

.infos .info2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;
}

.infos #Akira {
    width: 68%;
    max-width: 980px;
}

.textAkira {
    color: white;
    display: flex;
    padding-left: 40px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.infos #Marcelo {
    width: 45%;
    max-width: 980px;
}

.textMarcelo {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h3 {
    height: 5px;
}

.containerLinks {}

#aLinkedinImgMarcelo {
    width: 85%;
    height: 15%;
    cursor: pointer;
}

#linkedinImgMarcelo {
    width: 15%;
    height: 15%;
    cursor: pointer;
}

#aLinkedinImgAkira {
    width: 100%;
    height: 15%;
    cursor: pointer;
}

#linkedinImgAkira {
    width: 15%;
    height: 15%;
    padding-left: 36px;
    cursor: pointer;
}

.footer {
    display: flex;
    width: 90%;
}

.footer .linha {
    color: white;
}

.textFooter {
    font-size: 10px;
}

@media only screen and (max-width: 992px){
    .firstContainer {
        display: flex;
        width: 100%;
        height: 95%;
        align-items: center;
        flex-direction: column;

    }

    .firstContainer .backButton {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    .containerInfos {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: groove;
    }


    #findUs {}

    .infos {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .infos .info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112%;
        padding-left: 100px;
    }

    .infos .info2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-right: 100px;
    }

    .infos #Akira {
        width: 127%;
        max-width: 980px;
    }

    .textAkira {
        color: white;
        display: flex;
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .infos #Marcelo {
        width: 80%;
        max-width: 980px;
    }

    .textMarcelo {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h3 {
        height: 5px;
    }

    .containerLinks {}

    #aLinkedinImgMarcelo {
        width: 85%;
        height: 15%;
        cursor: pointer;
    }

    #linkedinImgMarcelo {
        width: 36%;
        height: 15%;
        cursor: pointer;
    }

    #aLinkedinImgAkira {
        width: 140%;
    }

    #linkedinImgAkira {
        width: 24%;
        padding-right: 25px;
        cursor: pointer;
    }

    .footer {
        display: flex;
        width: 90%;
    }

    .footer .linha {
        color: white;
    }

    .textFooter {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .firstContainer {
        display: flex;
        width: 100%;
        height: 95%;
        align-items: center;
        flex-direction: column;

    }

    .firstContainer .backButton {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    .containerInfos {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: groove;
    }


    #findUs {}

    .infos {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .infos .info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112%;
        padding-left: 100px;
    }

    .infos .info2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-right: 100px;
    }

    .infos #Akira {
        width: 127%;
        max-width: 980px;
    }

    .textAkira {
        color: white;
        display: flex;
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .infos #Marcelo {
        width: 80%;
        max-width: 980px;
    }

    .textMarcelo {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h3 {
        height: 5px;
    }

    .containerLinks {}

    #aLinkedinImgMarcelo {
        width: 85%;
        height: 15%;
        cursor: pointer;
    }

    #linkedinImgMarcelo {
        width: 36%;
        height: 15%;
        cursor: pointer;
    }

    #aLinkedinImgAkira {
        width: 140%;
    }

    #linkedinImgAkira {
        width: 24%;
        padding-right: 25px;
        cursor: pointer;
    }

    .footer {
        display: flex;
        width: 90%;
    }

    .footer .linha {
        color: white;
    }

    .textFooter {
        font-size: 10px;
    }
}

@media only screen and (max-width: 630px) {
    .firstContainer {
        display: flex;
        width: 100%;
        height: 95%;
        align-items: center;
        flex-direction: column;

    }

    .firstContainer .backButton {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    .containerInfos {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: groove;
    }


    #findUs {}

    .infos {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .infos .info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112%;
        padding-left: 60px;
    }

    .infos .info2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-right: 60px;
    }

    .infos #Akira {
        width: 127%;
        max-width: 980px;
    }

    .textAkira {
        color: white;
        display: flex;
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .infos #Marcelo {
        width: 80%;
        max-width: 980px;
    }

    .textMarcelo {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h3 {
        height: 5px;
    }

    .containerLinks {}

    #aLinkedinImgMarcelo {
        width: 85%;
        height: 15%;
        cursor: pointer;
    }

    #linkedinImgMarcelo {
        width: 36%;
        height: 15%;
        cursor: pointer;
    }

    #aLinkedinImgAkira {
        width: 140%;
    }

    #linkedinImgAkira {
        width: 24%;
        padding-right: 25px;
        cursor: pointer;
    }

    .footer {
        display: flex;
        width: 90%;
    }

    .footer .linha {
        color: white;
    }

    .textFooter {
        font-size: 12px;
    }
}

@media only screen and (max-width: 540px) {
    .firstContainer {
        display: flex;
        width: 100%;
        height: 95%;
        align-items: center;
        flex-direction: column;

    }

    .firstContainer .backButton {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    .containerInfos {
        width: 75%;
        height: 730px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: groove;
    }


    #findUs {}

    .infos {
        display: flex;
        width: 50%;
        /* height: 74%; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .infos .info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112%;
        padding-left: 31px;
    }

    .infos .info2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-right: 40px;
    }

    .infos #Akira {
        width: 115%;
        max-width: 980px;
        padding-left: 8px;
    }

    .textAkira {
        color: white;
        display: flex;
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }

    .infos #Marcelo {
        width: 80%;
        max-width: 980px;
        padding-right: 30px;
    }

    .textMarcelo {
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 13px;
        padding-right: 28px;
    }

    h3 {
        height: 5px;
    }

    .containerLinks {}

    #aLinkedinImgMarcelo {
        width: 85%;
        height: auto;
        cursor: pointer;
    }

    #linkedinImgMarcelo {
        cursor: pointer;
        padding-right: 18px;
    }

    #aLinkedinImgAkira {
        height: auto;
        cursor: pointer;
    }

    #linkedinImgAkira {
        cursor: pointer;
        padding-right: 10px;
    }

    .footer {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    .footer .linha {
        color: white;
    }

    .textFooter {
        font-size: 11px;
    }
}

@media only screen and (max-width: 320px) {
    .firstContainer {
        display: flex;
        width: 100%;
        height: 95%;
        align-items: center;
        flex-direction: column;

    }

    .firstContainer .backButton {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    .containerInfos {
        width: 87%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: groove;
    }


    #findUs {}

    .infos {
        display: flex;
        width: 50%;
        /* height: 74%; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .infos .info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112%;
        padding-left: 31px;
    }

    .infos .info2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding-right: 40px;
    }

    .infos #Akira {
        width: 115%;
        max-width: 980px;
        padding-left: 8px;
    }

    .textAkira {
        color: white;
        display: flex;
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 9px;
    }

    .infos #Marcelo {
        width: 80%;
        max-width: 980px;
        padding-right: 30px;
    }

    .textMarcelo {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 9px;
        padding-right: 28px;
    }

    h3 {
        height: 5px;
    }

    .containerLinks {}

    #aLinkedinImgMarcelo {
        width: 85%;
        height: auto;
        cursor: pointer;
    }

    #linkedinImgMarcelo {
        cursor: pointer;
        padding-right: 18px;
    }

    #aLinkedinImgAkira {
        height: auto;
        cursor: pointer;
    }

    #linkedinImgAkira {
        cursor: pointer;
        padding-right: 10px;
    }

    .footer {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    .footer .linha {
        color: white;
    }

    .textFooter {
        font-size: 11px;
    }
}